body {
  font-family: 'Poppins', sans-serif;
  background:linear-gradient(145deg, #0d0d0d, hsl(245, 89%, 15%));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Logo */
.logo {
  text-align: center;
  color: #ff00ff;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.calculator {
  background: linear-gradient(135deg, #1a0033, #5500aa); /* fonse ak violet */
  padding: 20px;
  border-radius: 12px;
  width: 360px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.display {
  background: #000;
  color: #0ff;
  font-size: 1.6em;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: right;
  overflow-x: auto; /* scroll vètikal si gen anpil etap */
  white-space: pre-wrap; /* kenbe fòma ak retou a la liy */
  word-wrap: break-word; /* kase tèks long otomatikman */
  box-shadow: inset 0 0 10px #0ff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolòn regilye */
  gap: 10px;
}

button {
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}


/* Koulè diferan pa ranje */
button:nth-child(1), button:nth-child(2), button:nth-child(3), button:nth-child(4) { background: #6f42c1; }
button:nth-child(5), button:nth-child(6), button:nth-child(7), button:nth-child(8) { background: #20c997; }
button:nth-child(9), button:nth-child(10), button:nth-child(11), button:nth-child(12) { background: #fd7e14; }
button:nth-child(13), button:nth-child(14), button:nth-child(15), button:nth-child(16) { background: hsl(243, 78%, 41%); }
button:nth-child(17), button:nth-child(18), button:nth-child(19), button:nth-child(20) { background: #ffc107; color: #000; }
button:nth-child(21), button:nth-child(22), button:nth-child(23), button:nth-child(24) { background: #23a304; }
button:nth-child(25), button:nth-child(26), button:nth-child(27), button:nth-child(28) { background: #e83e8c; }
button:nth-child(29), button:nth-child(30), button:nth-child(31), button:nth-child(32) { background: #007bff; }
button:nth-child(33), button:nth-child(34) { background: orange }

/* Bouton AI espesyal */
button.ai {
  grid-column: span 4; /* pran tout lajè anba */
  background: #ff5722;
  font-weight: bold;
  font-size: 18px;
}
button.ai:hover {
  background: #e64a19;
}
